# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# Terraform local state and cache
terraform/.terraform/
terraform/terraform.tfstate*
terraform/terraform.tfvars
terraform/*.tfplan
terraform/.terraform.lock.hcl
